:root {
  --white: #fff;
  --light: #f5f4f0;
  --dark: #2a2626;
  --dark-50: #908d8b;
  --brown: #b09a81;
  --primary: #fe8a02;
  --dark-primary: #42413c;
  --white-50: #d7ccc0;
  --blue: #1085c5;
}

@font-face {
  font-family: Neucha;
  src: url("../assets/fonts/Neucha-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: OpenSans;
  src: url("../assets/fonts/OpenSans-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}

/* тестовый режим */

/* * {
  border: #1085c5 dotted 3px;
} */

/* тестовый режим */

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
  font-family: OpenSans, sans-serif;
}

h1,
h2,
h3 {
  font-family: Neucha, sans-serif;
  font-weight: normal;
  line-height: 1.2em;
  color: var(--dark);
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

section {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.container {
  margin: 0 auto;
  max-width: 1110px;
}

section::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -200;
  background: url("../assets/images/background.png") top/cover no-repeat;
  opacity: 0.1;
}

section::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -300;
}

.light::after {
  background-color: var(--light);
}

.dark::after {
  background-color: var(--brown);
}

.white::before {
  background: none;
}

.white::after {
  background-color: var(--white);
}

.primary-dark::before {
  background: none;
}

.primary-dark::after {
  background-color: var(--dark-primary);
}

.primary-text {
  color: var(--primary);
}

.column {
  column-count: 2;
  column-gap: 30px;
}

.column p {
  margin-top: 0;
}

.column-side {
  break-inside: avoid;
}

.btn {
  display: inline-block;
  cursor: pointer;
  padding: 12px 24px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  background: var(--primary);
  color: var(--white);
}

/* локальные стили */

.header {
  position: relative;
  margin-bottom: 185px;
}

/* костыль */
.header-columns {
  margin-bottom: 0;
  padding-top: 16px;
}

.header img {
  position: absolute;
  height: 525px;
  top: -45px;
  right: -270px;
  z-index: -100;
}

.btn.mt-40 {
  margin-top: 40px;
}

.video-section {
  text-align: center;
}

.aria-author {
  margin-top: 27px;
  margin-bottom: 30px;
}

.video-container {
  position: relative;
  width: 100%;
  height: 369px;
}

.video {
  position: absolute;
  transform: translateX(-50%);
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

#navigation .container {
  margin-top: 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.card {
  display: block;
  box-sizing: border-box;
  width: 350px;
  margin-bottom: 20px;
  text-decoration: none;
  color: var(--dark);
}

.card:not(:first-child) {
  padding: 24px;
  background: var(--white);
}

.navigation-header.card {
  font-size: 52px;
  font-weight: normal;
  color: var(--white);
}

.count {
  margin-bottom: 40px;
  font: 64px/1 Neucha, sans-serif;
  color: var(--dark-primary);
}

/* костыль */
a.card:hover > * {
  color: var(--white);
}

a.card:hover {
  background: var(--primary);
}

.section-head {
  column-span: all;
}

.section-img {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.f-left {
  float: left;
  margin-right: 30px;
}

.f-right {
  float: right;
  margin-left: 30px;
}

.title {
  font: normal 24px/1.2 Neucha, sans-serif;
  margin: 0;
}

.light .title {
  color: var(--dark-50);
}

.dark .title {
  color: var(--white-50);
}

.section-head .description {
  font: normal 34px/1.2 Neucha, sans-serif;
  margin-top: 30px;
}

.dark h2, .dark p {
  color: var(--white);
}

.label {
  column-span: all;
  font: bold 14px/1.2 OpenSans, sans-serif;
  text-transform: uppercase;
  padding: 5px 10px;
  margin-top: 100px;
  margin-bottom: 20px;
}

.light .label {
  color: var(--white);
  background: var(--brown);
}

.dark .label {
  color: var(--brown);
  background: var(--white);
}
